@use "../../../colors.module.scss" as *;

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 20px;
}

.sectionTitle{
    font-size: 20px;
    font-weight: bold;
}


.slideSectionBtn{
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    border: 1px solid $lightGray;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .5s ease;

    &:hover{
        border-color: $lightRed;
        background-color: transparent;
        color: $lightGray;
    }

}